@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap');

html {
    font-family: 'Assistant', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    font-size:  22px;
}

.container {
    margin: auto;
    position: relative;
    height: 240px;
    width: 240px;
    border: 3px solid orange; 
    border-radius: 0.25em;
}

.page_title {
    font-size: 25px;
    font-weight: bolder;
    margin-top:  10px;
    margin-bottom: 10px;
}

.menu_item {
	position: relative;
	margin-top: 4px;
	margin-left: 10px;
    margin-right: 10px;
	margin-bottom: 4px;
    height: 36px;
    text-align: left;
    background-color: #666;
    border-radius: 0.5em;
}
.menu_item:hover {
	background-color: orange;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.menu_text {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 10px;
}
