@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap');

html {
    font-family: 'Assistant', sans-serif;
    color: white;
    background-color: black;
}

.container {
    height: 240px;
    width: 240px;
    position: relative;
    border: 3px solid orange;
}

.container_center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
